<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body>
       <!--Toopbar start-->
    <div class="container-fluid px-5">
        <div class="row align-items-center py-3">
            <div class="col-md-3">
                <div class="d-flex align-items-center justify-content-start">
                    <i class="fa-solid fa-phone-volume text-primary"></i>
                <h2 class="mb-0 r">+012 345 6789</h2>
                </div>
              </div>
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="" class="navbar-brand">
                            <h1 class="text-primary"><span class="text-secondary">Build Yuor Carrier</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <a class="btn btn-primary btn-square rounded-circle " href="a"><i class="fa-brands fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square rounded-circle me-2" href="a"><i class="fa-brands fa-facebook"></i></a>
                        <a class="btn btn-primary btn-square rounded-circle me-2" href="a"><i class="fa-brands fa-linkedin"></i></a>
                        <a class="btn btn-primary btn-square rounded-circle me-2" href="a"><i class="fa-brands fa-instagram"></i></a>
                      </div>
                    </div>
        </div><!--row-end-->
    </div><!--container-fluid-end-->
<section class="bg-info"style="font-family:maths;font-weight:bold">
    <nav class="navbar bg-success navbar-dark navbar-expand-md shadow-sm py-3 px-3 py-lg-0 fixed">
        <div class="container-fluid">
            <!--mobile-view-->
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#a">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--mobile-view-end-->
    
    
            <!--menu start-->
            <div class="navbar-collapse collapse" id="a">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Logo_of_the_Carrier_Corporation.svg/2560px-Logo_of_the_Carrier_Corporation.svg.png" class="weblogo">
          <img src="https://logos-world.net/wp-content/uploads/2023/01/Carrier-Logo-500x281.png" class="moblogo">
                <ul class="navbar-nav mx-auto py-0">
                    <li><a href="/" class="nav-link">Home</a></li>
                  <li><a href="/joblisting" class="nav-link">Job Listing</a></li>
                
                      <li><a href="/about" class="nav-link">About</a></li>
                     
                          <li><a href="/services" class="nav-link">Services</a></li>
                         
                              <li><a href="/blog" class="nav-link">Blog</a></li>
                                  <!-- <li><a href="" class="nav-link">Contact Us</a></li> -->

                                  <li><a href="/contact" class="nav-link">Contact Us</a></li>
                                      <a href="/logout" 
                                      <button type="button" class="btn"style=
                                      "margin-top:20px;"><button type="button" class="btn btn-outline-danger">Logout</button></button>
                                  </a>
                </ul>
                </div>
                <!-- <a href=""class="btn-green mt-20px">
                    <i class="fa-solid fa-calendar-week"></i>Make A Payment:
                  </a> -->
            </div><!--menu-end-->
        </div><!--container-fluid-->
        </nav>
    </section>