<%- include ('./header.ejs') %>

<div class="carousel slide" data-bs-ride="carousel" id="t">
    <div class="carousel-indicators">
     <button type="button" data-bs-target="#t" data-bs-slide-to="0" class="active"></button>
     <button type="button" data-bs-target="#t" data-bs-slide-to="1"></button>
     <button type="button" data-bs-target="#t" data-bs-slide-to="2"></button>
     <button type="button" data-bs-target="#t" data-bs-slide-to="3"></button>
     <button type="button" data-bs-target="#t" data-bs-slide-to="4"></button>


   </div> 

   <div class="carousel-inner">
     <div class="carousel-item active" data-bs-interval="2000">
        
        <img src="https://img.freepik.com/free-photo/rpa-concept-with-blurry-hand-touching-screen_23-2149311914.jpg?w=900&t=st=1690830639~exp=1690831239~hmac=1270e91a34f5ae928f8d6557404ff434e3f0b7a0b483d9c71e6f91f3d445bbee" class="w-100" alt="...">
       <div class="carousel-caption">
       </div><!--carousel-caption-->  
     </div>
     <div class="carousel-item" data-bs-interval="2000">
       <img src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150061967.jpg?size=626&ext=jpg&ga=GA1.2.485656939.1676565231&semt=ais" class="w-100" alt="...">
       <div class="carousel-caption">
       </div><!--carousel-caption-->  
     </div>
     <div class="carousel-item" data-bs-interval="2000">
 
       <img src="https://img.freepik.com/free-photo/business-professionals-talking-during-coffee-break-office-desk_662251-1580.jpg?w=900&t=st=1690828632~exp=1690829232~hmac=ccb3aaebcc6c9607561ff678e588d52daa2a2f591f2f0472eec8f62024bce7e9" class="w-100" alt="...">
       <div class="carousel-caption">
       </div><!--carousel-caption-->  
     </div>
     <div class="carousel-item" data-bs-interval="2000">
 
      <img src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150062008.jpg?size=626&ext=jpg&ga=GA1.1.485656939.1676565231&semt=ais" class="w-100" alt="...">
      <div class="carousel-caption">
      </div><!--carousel-caption-->  
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <img src="https://img.freepik.com/free-photo/business-concept-with-team-close-up_23-2149151159.jpg?w=900&t=st=1690829486~exp=1690830086~hmac=6156de97294db65bd0cae4a5cfb78af93e9baf50f760b3c634a883ee0a150f54" class="w-100" alt="...">
     
      <div class="carousel-caption">
      </div><!--carousel-caption-->  
    </div>
   </div><!--carousel-inner-->
 
    <button class="carousel-control-prev" type="button" data-bs-target="#t" data-bs-slide="prev">
     <span class="carousel-control-prev-icon"></span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#t" data-bs-slide="next">
     <span class="carousel-control-next-icon"></span>
   </button>
 </div>
  <!--slider div end-->

  <div class="container-fluid bg-primary">
    <h1 class="text-white text-center">Careers Statistics</h1>
    <p class="mq">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita<br>unde officiis recusandae sequi excepturi corrupti.</p>
    <div class="row">
      <div class="col-md-12">
   <script src="../index.js"></script>
   <!-- second section caunter start -->
   <section id="counter ">
    <section id="counter-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 mb-lg-0 mb-md-0  mb-5">
                    <h2>
                        <span id="count1"></span>930
                    </h2>
                    <p> Candidates</p>
  
                </div>
                <div class="col-md-3 mb-lg-0 mb-md-0  mb-5">
                    <h2>
                        <span id="count2"></span>54
                    </h2>
                    <p> Jobs Posted</p>
  
                </div>
  
                <div class="col-md-3 mb-lg-0 mb-md-0  mb-5">
                    <h2>
                        <span id="count3"></span>120
                    </h2>
                    <p> Jobs Filled</p>
  
                </div>
                <div class="col-md-3 mb-lg-0 mb-md-0  mb-5">
                    <h2>
                        <span id="count4"></span>550
                    </h2>
                    <p> Companies</p>
  
                </div>
  
  
            </div>
        </div>
    </section>
  <!-- second section caunter end -->
  </div>
  </div><!--row-end-->
  </div><!--container-end-->
 <div class="container" style="margin-top: 100px;">
  <h1 style="text-align: center">109,234 Job Listed</h1>
<div class="row" style="margin-top: 100px;">
    <div class="col-md-2">
      <img src="https://preview.colorlib.com/theme/careers/images/featured-listing-1.jpg"class="q4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm mm">freelencer</button>
    <p class="q1">Dropbox Product Designer</p>
    <p class="q2">Publisher<span style="font-weight:bold;"> John Stewart In: Design</span></p>
    </div>
    <div class="col-md-3">
    <h4>Melbourn</h4>
    <p style="font-size: 20px;">Australia</p>
    </div>
      <div class="col-md-3">
       <h4>$60k — $100k</h4>
        </div>
  </div><!--row-end-->
<hr>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-2">
      <img src="https://preview.colorlib.com/theme/careers/images/featured-listing-2.jpg"class="q4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-warning btn-sm mm">Full-time</button>
    <p class="q1">Creative Director in Intercom</p>
    <p class="q2">Publisher<span style="font-weight:bold;"> John Stewart In: Design</p>
    </div>
    <div class="col-md-3">
    <h4>London</h4>
    <p style="font-size: 20px;">United Kingdom</p>
    </div>
      <div class="col-md-3">
       <h4>$60k — $100k</h4>
        </div>
  </div><!--row-end-->
  <hr>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-2">
      <img src="https://preview.colorlib.com/theme/careers/images/featured-listing-3.jpg"class="q4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-sm mm">Par-time</button>
    <p class="q1">FullStack Developer in Shopify</p>
    <p class="q2">Publisher<span style="font-weight:bold;"> John Stewart In: Design</p>
    </div>
    <div class="col-md-3">
    <h4>London</h4>
    <p style="font-size: 20px;">United Kingdom</p>
    </div>
      <div class="col-md-3">
       <h4>$60k — $100k</h4>
        </div>
  </div><!--row-end-->
<hr>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-2">
      <img src="https://preview.colorlib.com/theme/careers/images/featured-listing-4.jpg"class="q4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm mm">freelencer</button>
    <p class="q1">Dropbox Product Designer</p>
    <p class="q2">Publisher<span style="font-weight:bold;"> John Stewart In: Design</span></p>
    </div>
    <div class="col-md-3">
    <h4>Melbourn</h4>
    <p style="font-size: 20px;">Australia</p>
    </div>
      <div class="col-md-3">
       <h4>$60k — $100k</h4>
        </div>
  </div><!--row-end-->
<hr>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-2">
      <img src="https://preview.colorlib.com/theme/careers/images/featured-listing-4.jpg"class="q4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-warning btn-sm mm">Full-time</button>
    <p class="q1">Creative Director in Intercom</p>
    <p class="q2">Publisher<span style="font-weight:bold;"> John Stewart In: Design</p>
    </div>
    <div class="col-md-3">
    <h4>London</h4>
    <p style="font-size: 20px;">United Kingdom</p>
    </div>
      <div class="col-md-3">
       <h4>$60k — $100k</h4>
        </div>
  </div><!--row-end-->
  <hr>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-2">
      <img src="https://preview.colorlib.com/theme/careers/images/featured-listing-3.jpg"class="q4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-sm mm">Par-time</button>
    <p class="q1">FullStack Developer in Shopify</p>
    <p class="q2">Publisher<span style="font-weight:bold;"> John Stewart In: Design</p>
    </div>
    <div class="col-md-3">
    <h4>London</h4>
    <p style="font-size: 20px;">United Kingdom</p>
    </div>
      <div class="col-md-3">
       <h4>$60k — $100k</h4>
        </div>
  </div><!--row-end-->
<hr>
<div class="row" style="margin-top: 100px;">
  <div class="col-md-2">
    <img src="https://preview.colorlib.com/theme/careers/images/featured-listing-3.jpg"class="q4">
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-success btn-sm mm">Par-time</button>
  <p class="q1">FullStack Developer in Shopify</p>
  <p class="q2">Publisher<span style="font-weight:bold;"> John Stewart In: Design</p>
  </div>
  <div class="col-md-3">
  <h4>London</h4>
  <p style="font-size: 20px;">United Kingdom</p>
  </div>
    <div class="col-md-3">
     <h4>$60k — $100k</h4>
      </div>
</div><!--row-end-->
 </div><!--container-end-->
 </div><!--container-end-->
 </div><!--container-end-->


 <div class="container shadow-lg" style="margin-top: 100px;">
  <h1 style="text-align: center;">Our Candidates Work In Company</h1>
  <p class="q5">Porro error reiciendis commodi beatae omnis similique voluptate rerum ipsam<br> fugit mollitia ipsum facilis expedita tempora suscipit iste</p>
  <div class="row"style="margin-top:80px;">
    <div class="col-md-3">
      <img src="https://preview.colorlib.com/theme/careers/images/logo_mailchimp.svg"class=" w-100"style="height:150px">
    </div>
    <div class="col-md-3">
      <img src="https://preview.colorlib.com/theme/careers/images/logo_paypal.svg"class=" w-100"style="height:80px">
    </div>
    <div class="col-md-3">
      <img src="	https://preview.colorlib.com/theme/careers/images/logo_stripe.svg"class=" w-100"style="height:70px">
    </div>
    <div class="col-md-3">
      <img src=" https://preview.colorlib.com/theme/careers/images/logo_visa.svg"class=" w-100"style="height:120px">
    </div>
  </div><!--row-end-->
 </div><!--container-end-->

 <div class="container-fluid bg-primary text-white text-center">
  <div class="row">
    <div class="col-md-8">
    <h1 style="font-family: fantasy;margin-top: 40px;">Looking For A Job?</h1>
    <p class="wq1">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-warning qw2" type="button">Sing Up</button>
    </div>
  </div><!--row-end-->
 </div><!--container-end-->

<%- include('./footer.ejs') %>