<%- include ('./header.ejs') %>
<link rel="stylesheet" href="/css/style.css">
<section>
    
    <img src="https://plus.unsplash.com/premium_photo-1668473367234-fe8a1decd456?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c29mdHdhcmUlMjBjb21wYW55fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"class="w-100"style="height:500px;">
    <p class="w1">Our Services</p>
    <p class="w2">Find your dream jobs in our powerful career website template.</p>
 </section> 

<div class="container-fluid"style="margin-top:200px;">
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 ">
            <div class="box pt-5">
                <i class="fa-solid fa-u"></i>
                <h3>Design Strategy</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="box pt-5">
                <i class="fa-solid fa-u"></i>
                <h3>Design Strategy</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="box pt-5">
                <i class="fa-solid fa-u"></i>
                <h3>Design Strategy</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 ">
            <div class="box pt-5">
                <i class="fa-solid fa-u"></i>
                <h3>Design Strategy</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="box pt-5">
                <i class="fa-solid fa-u"></i>
                <h3>Design Strategy</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="box pt-5">
                <i class="fa-solid fa-u"></i>
                <h3>Design Strategy</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid text-center">
<div class="A">
  <marquee scrollamount="25">
    <center>
      <h2 class="ex">EXPLORE <b style="color:red;">OUR BRANDS</b></h2>
    </center>
</marquee>
</div>
</div>
<div class="container-fluid bg-primary text-white text-center"style="margin-top:20px">
    <div class="row">
      <div class="col-md-8">
      <h1 style="font-family: fantasy;margin-top: 40px;">Looking For A Job?</h1>
      <p class="wq1">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-warning qw2" type="button">Sing Up</button>
      </div>
    </div><!--row-end-->
   </div><!--container-end-->

<%- include('./footer.ejs') %>